body {
  cursor: url(/imagesAndIcons/starburst-svgrepo-com.svg), auto;
  color: #383838;

  background: linear-gradient(-75deg, #f0e0db, #faffdd, #c5d3ef, #FAF1E9);
  background-size: 500% 500%;
  animation: gradient 10s ease infinite;

  font-family: swear-display, serif;
  font-weight: 500;
  font-style: normal;
}

a {
  color: #383838;
}

a:hover {
  color: #F5460E;
}

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #f8f4eb;
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-weight: 200;
}

/*.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #f8f4eb;
  padding: 10px 10px 10px 10px;
}*/

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.25vw;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 1vw 1vw 1vw 1vw;
  text-decoration: none;
  color: #383838;
}

.nav > .nav-links > a:hover {
  text-decoration:line-through;
  color: #F5460E;
  font-weight: 400;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    padding-top: 4vw;
  }
  /*.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #F5460E;
  }*/

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 5px;
    border-top: 2px solid #383838;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #f8f4eb;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    font-weight: 400;
    font-size: 4vw;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 40vw;
    overflow-y: auto;
  }
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


#greeting {
  padding-left: 15%;
  text-align: left;
  font-size: 7vw;
}

#name{
  padding-left: 15%;
  text-align: left;
  font-size: 3vw;
}

#pronunciation{
  font-family: 'Epilogue', sans-serif;
  text-align: left;
  font-weight: 200;
  font-size: 1vw;
}

.copyText {
  font-family: 'Epilogue', sans-serif;
  padding-left: 15%;
  padding-right: 20%;
  text-align: left;
  font-weight: 200;
  font-size: 1.125vw;
}

#mission {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 5px;
  padding-bottom: 3%;
}


.trade{
  text-align: center;
  color: #767676;
  font-weight: 200;
  font-size: 1vw;
}