body {
	background: #f8f4eb;
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  cursor:url(/imagesAndIcons/starburst-svgrepo-com.svg), auto;
  color:#383838;
}

a{
  color:#383838;
}

a:hover{
  color:#F5460E;
}

* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #f8f4eb;
  position: relative;
  font-family: 'Epilogue', sans-serif;
  font-weight: 200;
}

/*.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #f8f4eb;
  padding: 10px 10px 10px 10px;
}*/

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.25vw;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 1vw 1vw 1vw 1vw;
  text-decoration: none;
  color: #383838;
}

.nav > .nav-links > a:hover {
  text-decoration:line-through;
  color: #F5460E;
  font-weight: 400;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 10vw;
    height: 10vw;
    padding-top: 4vw;
  }
  /*.nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: #F5460E;
  }*/

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 5px;
    border-top: 2px solid #383838;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #f8f4eb;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    font-weight: 400;
    font-size: 4vw;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: 40vw;
    overflow-y: auto;
  }
}


#banner {
	background: linear-gradient(-75deg, #f0e0db, #faffdd, #c5d3ef, #FAF1E9); 
	background-size: 500% 100%;
	animation: gradient 10s ease infinite;
  padding: 5vh;

    font-family: swear-display,serif;
    font-weight: 500;
    font-style: normal;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    flex-grow: 1;
    flex-basis: content;
    gap: 5vw;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#nameTitle{
  padding-right:5%;
  text-align:left;
}

#nameSize {
  font-size: 10vw;
}

#descrip{
  font-size: 2vw;
}

#Bio{
    padding-left:60%;
    padding-right:10%;
    font-size: 2vw;
    text-align:center;
}

#mission{
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  font-size: 1vw;
  letter-spacing: 5px;
  padding-bottom: 3%;
}

#sectionName{
  padding-top:5%;
  padding-bottom:3%;
  padding-left:1.5%;
  font-size: 7vw;
  text-align:left;
}

#recentWork{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items:center;
  align-content: center;
  gap: 1vh;

  padding-left: 5vh;
  padding-right: 3vh;
  flex: 4 1 25vw;
}

.projectHub{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex: 1 1 22vw;
}

.nameNumber{
  padding-top:5%;
  text-align:left;
  font-weight: 200;
  font-size: 2.5vw;
  transition: all 0.5s ease;
}

.numberItem{
  font-weight: 700;
}

.projectPicture{
  width: 22vw;
  height: auto;
  padding-right: 2%;
  padding-bottom: 3%;
  transition: all 0.5s ease;
  border-radius: 0%;
}

#projectDescription{
  font-size: 1vw;
  font-weight: 500;
}

.nameNumber:hover {
  color: #F5460E;
}

div.titleSquare {
  border: 1px solid #365bff;
  float:right;
	width: 40vw;
	height: 25vw;
}

div.titleSquare:hover {
  background-color: #365bff;
	width: 40vw;
	height: 25vw;
}

.copyText{
  padding-left:5%;
  text-align:left;
  font-weight: 200;
  font-size: 2vw;
  transition: all 0.5s ease;
}

.contactLink{
  font-weight: 500;
  font-size: 2vw;
}

.socialLink{
  font-weight: 500;
  font-size: 2vw;
  padding-left: 15%;
  color: rgb(57, 57, 57);
}

/* (A) WRAPPER */
.fullwrap {
  position: relative; /* required for (c2) */
}
 
/* (C) CAPTION */
.fullcap {
  /* (C1) DIMENSIONS */
  box-sizing: border-box;
  width: 22vw;
  height: 96.5%;
 
  /* (C2) POSITION */
  position: absolute;
  top: 0; 
  left: 0;
  text-align: center;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
 
   /* (C3) COLORS */
  background-color: #c93808e6;
  color: #f0e0db;
  
}
 
/* (D) SHOW/HIDE */
.fullcap {
  visibility: none; 
  opacity: 0;
  transition: opacity 0.5s;
}

.fullwrap:hover .fullcap {
  visibility: visible; 
  opacity: 1;
  transition: opacity 0.5s;
}

.trade{
  text-align: center;
  color: #767676;
  font-weight: 200;
  font-size: 1vw;
}