body {
	background: #FAF1E9;
    margin: 0;
}

#banner {
	background: linear-gradient(-75deg, #F5460E, #EBF1C8, #3D72DA, #FAF1E9); 
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    padding: 30vh 20px;

    font-family: swear-display,serif;
    font-weight: 400;
    font-style: normal;

    text-align: center;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    align-items: center;
    flex-grow: 0;
    flex-basis: content;
}

#nameTitle{
    padding-left:10%;
    padding-right:5%;
}

 #Bio{
    padding-left:30%;
    padding-right:10%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a:link {
    color: #353536; 
  }
  
  a:visited {
    color: #353536;
  }
  
  a:hover {
    color: rgb(198, 141, 252);
  }
  
  a:active {
    color: rgb(147, 165, 199);
  }